<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
        <title>{% block title %}{% endblock %} - GDM Visualiser</title>
    {% endblock %}
</head>
<body>
<header class="header">
    <h1>GDM Visualizer</h1>
</header>
<div id="content">{% block content %}{% endblock %}</div>
<footer id="footer">
    {% block footer %}
        &copy; Copyright 2020 by 2DTeams
    {% endblock %}
</footer>
</body>
</html>
