{% extends "base.html" %}
{% block title %}Main{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <aside class="side-view">
        <section class="attrs-list">
            <h1>Атрибуты</h1>
            <div id="attrs-info">
                <h2>Выберете узел</h2>
            </div>
        </section>
        <section class="links-list">
            <h1>Связанные узлы</h1>
            <div id="links-info">
                <h2>Выберете узел</h2>
            </div>
        </section>
        <section class="hierarchy">
            <h1>Информация</h1>
            <div id="hierarchy-info">
                <h2>Выберете узел</h2>
            </div>
        </section>
    </aside>
    <main id="content">
        <section class="finder">
            <button>Искать</button>
            <label><input type="text"></label>
        </section>
        <section class="main-view graph-view">
            <div id="cy"></div>
        </section>
    </main>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}